
@media (min-width: 0px) {
    html{
        font-size: 10px;
    }

    .before-after{
        width: 100%;
        max-width: 38rem;
        height: fit-content;
        margin-inline: auto;
        min-width: 40%;
    }
}

@media (min-width: 300px) {
    html{
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    html{
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    html{
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    .before-after{
        margin-inline: unset;
    }
}

@media (min-width: 992px) {
    html{
        font-size: 16px;
    }

    .wave-1{
        height: 5vw !important;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}